<div class="row">
  <div class="col-12">
    <img
      *ngIf="selectedRecipe; else recipeImagePlaceholder"
      class="w-100 img-thumbnail mt-5 mb-4"
      src="{{ selectedRecipe.imagePath }}"
      alt="{{ selectedRecipe.name }}"
      [ngStyle]="{ maxHeight: '50vh' }"
    />
    <!-- This is a conditionally rendered template -->
    <ng-template #recipeImagePlaceholder>
      <div class="row">
        <div class="col-12">
          <img
            [ngStyle]="{ height: '50vh' }"
            class="d-block img-thumbnail mt-5 mb-4"
            src=""
            alt=""
            srcset=""
          />
        </div>
      </div>
    </ng-template>
    <!-- End of ng-template -->
  </div>
</div>
<div class="row">
  <div class="col-12"><h1>Recipe Name</h1></div>
</div>

<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">To shopping list</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        Description
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        Ingredients
      </div>
    </div>
  </div>
</div>
